@model SFA.DAS.LoginService.Web.Controllers.Password.ViewModels.PasswordViewModel

<input id="Username" name="Username" autocomplete="username" class="govuk-visually-hidden" value="@Model.Username">

<partial name="_PasswordForm" model="@Model" />

<button type="submit" class="govuk-button">
    Submit
</button>