@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.ViewModels.PasswordViewModel

<input id="Username" name="Username" autocomplete="username" class="govuk-visually-hidden" value="@Model.Username">

<div class="govuk-form-group" sfa-validationerror-class="govuk-form-group--error" sfa-validation-for="Password" asp-validation-for="Password">
    <label class="govuk-label govuk-label--m" asp-for="Password">
        Create your password
    </label>
    <div id="Password-hint" class="govuk-hint">
        <p class="govuk-body govuk-body--hint govuk-!-margin-bottom-2">Your password must:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--hint govuk-list--ticks">
            <li data-condition="minChars">be at least 8 characters</li>
            <li data-condition="anyLetter">contain at least one letter (a-z)</li>
            <li data-condition="anyNumber">contain at least one number (0-9)</li>
            <li data-condition="mustMatch">match with the confirmed password</li>
        </ul>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <span id="password-error" asp-validation-for="Password" class="govuk-error-message"></span>
    }
    <div class="show-password-container">
        <input class="govuk-input govuk-input--width-20 show-hide-password-input" sfa-validationerror-class="govuk-input--error" sfa-validation-for="Password" name="Password" id="Password" type="password" autocomplete="new-password" data-show-hide="password" data-password-conditions="password" value="@Model.Password"/>
        <div class="show-password-control-container">
            <input type="checkbox" class="show-hide-checkbox" name="show-hide" id="show-hide"/>
            <label for="show-hide" class="govuk-label govuk-label--show-hide"><span class="govuk-label__show-hide-text">show</span><span class="govuk-visually-hidden"> password</span></label>
        </div>
    </div>
</div>

<div class="govuk-form-group" sfa-validationerror-class="govuk-form-group--error" sfa-validation-for="ConfirmPassword">
    <label class="govuk-label govuk-label--m" asp-for="ConfirmPassword">
        Confirm your password
    </label>
    @if (!ViewData.ModelState.IsValid)
    {
        <span id="confirm-password-error" asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
    }
    <input class="govuk-input govuk-input--width-20" sfa-validationerror-class="govuk-input--error" sfa-validation-for="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" value="@Model.ConfirmPassword" type="password" autocomplete="new-password" data-show-hide="confirm-password" data-password-conditions="confirm-password" />
</div>

<button type="submit" class="govuk-button">
    Submit
</button>