@{
    ViewData["Title"] = "Terms of use";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Terms of use</h1>

        <p class="govuk-body">Welcome to the Apprenticeship assessment service.</p>

        <p class="govuk-body">By using this service, you agree to the following terms of use.</p>

        <h2 class="govuk-heading-m">Our responsibilities</h2>

        <p class="govuk-body">This service is run by the Education and Skills Funding Agency (ESFA). We comply with the UK Data Protection Act 2018. We will try to make sure that the service is continuously available. However, we accept no liability for:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you being unable to access the service (for example owing to excessive demand or because we've taken the service down for maintenance)</li>
            <li>delay or failure in receiving data</li>
            <li>loss of data</li>
            <li>loss or damage arising from the use of the service or reliance on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
        </ul>

        <p class="govuk-body">We may remove, or amend a user's rights to use this service if you are found to be in breach of these terms. Our decision in the event of a breach shall be final.</p>

        <p class="govuk-body">We will use your information to establish your identity and permissions when using this service.</p>

        <p class="govuk-body">Your responsibilities:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you are responsible for all activities associated with your username and password and accept responsibility for all activities associated with your account</li>
            <li>you agree to indemnify the ESFA against any losses, expenses, damages or claims we may incur as a result of any failure by you to comply with the obligations set out in these terms</li>
            <li>you agree to comply with any amendments to these terms of use</li>
            <li>you agree to comply to the terms of use of each service you are approved to use</li>
        </ul>

        <p class="govuk-body">As a user or approver, you must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>create a valid sign in account and keep your sign in details confidential and secure</li>
            <li>comply with the Data Protection Act 2018 and ensure that any personal data (as defined by the Data Protection Act 2018) is protected, used only for the purposes for which it was obtained and disposed of accordingly</li>
            <li>comply with the UK Computer Misuse Act 1990</li>
            <li>contact us if you're aware of any security breach</li>
            <li>sign in from only one PC at a time</li>
            <li>sign out when you have finished your session</li>
        </ul>

        <p class="govuk-body">As an approver, you must also:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>remove access rights from staff who no longer need access</li>
            <li>verify that all requests for approval are appropriate to that person's professional role</li>
            <li>regularly review access rights of staff to ensure that only those who need access to systems maintain their privileges</li>
        </ul>

        </div>
    </div>
</main>