@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A sample application to demonstrate a connection to the Login Service for local Sign-Up (Create Account)</p>
