@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Application uses</h2>
        <ul>
            <li>Sample Login Service Client with Local Sign-Up using ASP.NET Core MVC</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Sample Actions</h2>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="AuthorizeExisting">Authorize for Existing User</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AuthorizeNew">Authorize for New User</a></li>
        </ul>
    </div>
</div>
