.govuk-list {
  position: relative;
}

.govuk-list li.passed {
  text-decoration: line-through;
}

.govuk-list li.passed:after {
  content: "";
  margin-left: 5px;
  position: absolute;
  width: 18px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.govuk-body--hint,
.govuk-list--hint {
  color: #6f777b;
}

.js-show-hide {
  display: none;
}

.js-enabled .js-show-hide {
  display: block;
}
