/* Cookie banner */

.das-cookie-banner {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  padding: 15px 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 2;
  background: #f3f2f1;
  display: none;
}

@media print {
  .das-cookie-banner {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-cookie-banner {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .das-cookie-banner {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .das-cookie-banner {
    padding: 20px 0;
  }
}

.das-cookie-banner__header {
  margin-top: 0;
}

.das-cookie-banner__message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
}

@media (min-width: 48.0625em) {
  .das-cookie-banner__message {
    margin: 0;
  }
}

.das-cookie-banner__buttons:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 20em) {
  .das-cookie-banner__buttons {
    margin: 0 -10px;
  }
}

@media (min-width: 48.0625em) {
  .das-cookie-banner__buttons {
    padding-bottom: 10px;
  }
}

.das-cookie-banner__button-wrap {
  margin-top: 10px;
  vertical-align: top;
}

@media (min-width: 20em) {
  .das-cookie-banner__button-wrap {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.das-cookie-banner__button {
  margin: 0;
  width: 100%;
}

@media (min-width: 48.0625em) {
  .das-cookie-banner__button {
    vertical-align: baseline;
  }
}

.das-cookie-banner__confirmation {
  position: relative;
  padding: 5px;
  display: none;
}

.das-cookie-banner__confirmation-message {
  margin: 0;
}

.das-cookie-banner__hide-button {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #005ea5;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

@media print {
  .das-cookie-banner__hide-button {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-cookie-banner__hide-button {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .das-cookie-banner__hide-button {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.das-cookie-banner__hide-button:hover {
  color: #005ea5;
}

.das-cookie-banner__hide-button:focus {
  color: #0b0c0c;
  background: #ffbf47;
  outline: 3px solid #ffbf47;
}

@media (min-width: 48.0625em) {
  .das-cookie-banner__hide-button {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
  }
}

/* Notices */

.das-notice {
  color: #0b0c0c;
  padding: 15px;
  margin-bottom: 30px;
  clear: both;
  border: 5px solid #1d70b8;
}

@media print {
  .das-notice {
    color: #000000;
  }
}

@media (min-width: 40.0625em) {
  .das-notice {
    padding: 20px;
  }
}

@media (min-width: 40.0625em) {
  .das-notice {
    margin-bottom: 50px;
  }
}

.das-notice .govuk-govspeak p:last-child {
  margin-bottom: 0;
}

.das-notice .govuk-body:last-child {
  margin-bottom: 0;
}

.das-notice__title {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1111111111;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .das-notice__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-notice__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media print {
  .das-notice__title {
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .das-notice__title {
    margin-bottom: 20px;
  }
}

.das-notice__title:last-child {
  margin-bottom: 0;
}

.das-notice__description {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}

@media print {
  .das-notice__description {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-notice__description {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media print {
  .das-notice__description {
    font-size: 14pt;
    line-height: 1.15;
  }
}

/* Cookie settings display */

.cookie-settings__form-wrapper {
  display: none;
}

.js-enabled .cookie-settings__form-wrapper {
  display: block;
}

.js-enabled .cookie-settings__no-js {
  display: none;
}

.cookie-settings__confirmation {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: none;
  margin-top: 15px;
}

@media print {
  .cookie-settings__confirmation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .cookie-settings__confirmation {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media print {
  .cookie-settings__confirmation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

/* Application styles */

.govuk-list {
  position: relative;
}

.govuk-list--ticks {
  padding-left: 27px;
}

.govuk-list--ticks li {
  margin-bottom: 5px;
}

.govuk-list li.passed {
  color: #006435;
  font-weight: 700;
  position: relative;
  list-style-type: none;
}

.govuk-list li.passed:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 13px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

@media (min-width: 40.0625em) {
  .govuk-list li.passed:before {
    top: 5px;
  }
}

.govuk-body--hint,
.govuk-list--hint {
  color: #6f777b;
}

.show-password-container {
  position: relative;
}

.js-enabled .show-password-container {
  display: inline;
}

.js-enabled .show-hide-password-input {
  padding-right: 46px;
}

.show-password-control-container {
  display: none;
}

.js-enabled .show-password-control-container {
  display: inline-block;
  text-align: center;
  width: 46px;
  margin-left: -52px;

  /* 
    position: absolute;
    top: -1px;
    right: 2px;
    text-align: center;
    width: 46px;
    */
}

.show-hide-checkbox {
  display: none;
}

.govuk-label--show-hide {
  cursor: pointer;
  letter-spacing: -0.2px;
  display: inline;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.das-inline-button-link {
  display: inline-block;
  padding: 0.526315em 0 0.263157em 0;
  line-height: 1.25;
}

@media (min-width: 40.0625em) {
  .das-inline-button-link {
    padding-left: 0.526315em;
  }
}

.das-header__span {
  display: inline-block;
  margin-bottom: 10px;
  font-family: nta, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .das-header__span {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
