@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.CodeSentViewModel

@{
    ViewBag.Title = "Forgotten password";
}

<h1>If we found an account for @Model.Email, we have sent an email with instructions to reset your password.</h1>
