@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.ViewModels.RequestPasswordResetViewModel

@{
    ViewBag.Title = "Forgotten password";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

            <h1 class="govuk-heading-xl">Forgotten password</h1>

            <form asp-action="Post" asp-controller="RequestPasswordReset" asp-route-clientId="@Model.ClientId">

              <div class="govuk-form-group" sfa-validation-for="Email" sfa-validationerror-class="govuk-form-group--error">
                  <label class="govuk-label govuk-label--m" asp-for="Email">
                      Email address
                  </label>
                  <span id="email-address-hint" class="govuk-hint">
                      This must be the email you used to sign up
                  </span>
                  @if (!ViewData.ModelState.IsValid)
                  {
                      <span id="email-error" asp-validation-for="Email" class="govuk-error-message"></span>
                  }
                  <input class="govuk-input" asp-for="Email" type="text" aria-describedby="email-address-hint" sfa-validation-for="Email" sfa-validationerror-class="govuk-input--error">
              </div>
              <div class="govuk-form-group">
                  <button class="govuk-button" type="submit">Submit</button>
              </div>
            </form>
        </div>
    </div>
</main>