@using System.Security.Claims;
@{
    ViewBag.Title = "Claims";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var claim in ((ClaimsPrincipal)User).Claims)
{
    <h2>@claim.Type</h2>@:<h3>@claim.Value</h3>
}
