@model SFA.DAS.LoginService.Web.Controllers.InvitationsWeb.ViewModels.InvitationExpiredViewModel

@{
    ViewBag.Title = "Invitation Expired";
}

<h2>Invitation expired</h2>


<form asp-action="Reinvite" asp-route-invitationId="@Model.InvitationId" >
    <button type="submit" class="btn-primary">Click here to request a new link</button>
</form>