@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.ViewModels.ConfirmResetCodeViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Confirm code";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

            <form asp-action="ConfirmCode" novalidate>
                <input type="hidden" asp-for="RequestId"/>
                <input type="hidden" asp-for="ClientId"/>
                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" asp-for="Code">
                            Confirm code
                        </label>

                    </h1>
                    <span id="code-hint" class="govuk-hint">
                        This is the 8 character code in the email we sent you
                    </span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span asp-validation-for="Code" class="govuk-error-message"></span>
                    }
                    <input class="govuk-input govuk-input--width-10" asp-for="Code" type="text" sfa-anyvalidationerror-class="govuk-input--error">
                </div>

                <button type="submit" class="govuk-button">
                    Submit
                </button>
            </form>
        </div>
    </div>
</main>