@model SFA.DAS.LoginService.Web.Controllers.InvitationsWeb.ViewModels.SignUpCompleteViewModel

@{
    ViewBag.Title = "Sign up complete";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Sign up complete
            </h1>
            <div class="govuk-panel__body">
              An account has been created.
            </div>
          </div>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            You may now <a class="govuk-link" href="@Model.UserRedirectUri">sign in to @Model.ServiceName</a> using the email address and password you used to sign up.
          </p>
        </div>
    </div>
</main>