@model SFA.DAS.LoginService.Application.BuildLoginViewModel.LoginViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Sign in";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

            <h1 class="govuk-heading-xl">Sign In for @Model.ServiceName</h1>
            
            <form asp-route="PostLogin">
                <input type="hidden" asp-for="ReturnUrl" />
                
                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" asp-for="Username">
                        Email or username
                    </label>
                    <span id="username-error" asp-validation-for="Username" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-10" asp-for="Username" type="text" autocomplete="username" sfa-anyvalidationerror-class="govuk-input--error">
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" asp-for="Password">
                        Password
                    </label>
                    <span id="password-error" asp-validation-for="Password" class="govuk-error-message"></span>
                    <div class="show-password-container">
                      <input sfa-anyvalidationerror-class="govuk-input--error" class="govuk-input govuk-input--width-10 show-hide-password-input" asp-for="Password" type="password" autocomplete="current-password" data-enhance="js-show-hide" />
                      <div class="show-password-control-container">
                        <input type="checkbox" class="show-hide-checkbox" name="show-hide" id="show-hide" />
                        <label for="show-hide" class="govuk-label govuk-label--show-hide">SHOW</label>
                      </div>
                    </div>
                </div>

                <div class="govuk-form-group">
                  <a class="govuk-link" asp-action="Get" asp-controller="ResetPassword" asp-route-clientId="@Model.ClientId">Forgotten password</a>
                </div>

                @if (Model.AllowRememberLogin)
                {
                    <div class="govuk-form-group login-remember">
                        <label asp-for="RememberLogin">
                            <input asp-for="RememberLogin">
                            <strong>Remember my login</strong>
                        </label>
                    </div>
                }

                <div class="govuk-form-group">
                  <button type="submit" class="govuk-button">
                    Submit
                  </button>
                </div>
                
            </form>
            
            <p class="govuk-body"><a class="govuk-link" href="@Model.ServiceSupportUrl">Having problems with sign in?</a></p>
        </div>
    </div>
</main>
