@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.PasswordResetSuccessfulViewModel

@{
    ViewBag.Title = "Password reset successful";
}

<h2>Password reset successful</h2>


<a href="@Model.ReturnUrl">Click here to go back to @Model.ServiceName</a>
