@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

            <h1 class="govuk-heading-xl">Reset password</h1>

            <p class="govuk-body">You are resetting the password for <span class="govuk-!-font-weight-bold">@Model.Username</span></p>

            <form asp-action="Post" asp-controller="ResetPassword" asp-route-clientId="@Model.ClientId">
                <input type="hidden" asp-for="RequestId"/>
                <partial name="_CreatePasswordForm" model="@Model" />
            </form>
        </div>
    </div>
</main>