@model SFA.DAS.LoginService.Web.Controllers.ResetPassword.ResetPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

        <h1 class="govuk-heading-xl">Create password</h1>
    </div>
</div>


<form asp-action="Post" asp-controller="ResetPassword" asp-route-clientId="@Model.ClientId">
    
    <label asp-for="Email">Email address</label>
    <input type="text" asp-for="Email"/>
    
    <button type="submit">Submit</button>
</form>
</main>