@model SFA.DAS.LoginService.Web.Controllers.InvitationsWeb.ViewModels.CreatePasswordViewModel

@{
    ViewBag.Title = "Create password";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="/Views/Partials/_validationErrorSummary.cshtml"/>

            <h1 class="govuk-heading-xl">Create password</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form asp-action="Post">
                <input type="hidden" asp-for="InvitationId" />
                <input id="Username" name="Username" autocomplete="Username" class="govuk-visually-hidden">

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error" asp-validation-for="Password">
                    <label class="govuk-label govuk-label--m" asp-for="Password">
                        Create your password
                    </label>
                    <span id="Password-hint" class="govuk-hint">
                        <p class="govuk-body govuk-body--hint govuk-!-margin-bottom-2">Your password must:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--hint">
                            <li data-condition="minChars">be at least 8 characters</li>
                            <li data-condition="anyLetter">contain at least one letter (a-z)</li>
                            <li data-condition="anyNumber">contain at least one number (0-9)</li>
                            <li data-condition="mustMatch">match with the confirmed password</li>
                        </ul>
                    </span>

                    <span id="password-error" asp-validation-for="Password" class="govuk-error-message"></span>
                    <input sfa-anyvalidationerror-class="govuk-input--error" class="govuk-input govuk-input--width-10" asp-for="Password" type="password" autocomplete="new-password">
                </div>


                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <label class="govuk-label govuk-label--m" asp-for="ConfirmPassword">
                        Confirm your password
                    </label>
                    <input class="govuk-input govuk-input--width-10" asp-for="ConfirmPassword" type="password" autocomplete="new-password" data-enhance="js-show-hide">
                </div>

                <div class="govuk-form-group show-password-container">
                  <a class="js-show-hide govuk-link" href="#">Show passwords</a>
                </div>

                <button type="submit" class="govuk-button">
                    Submit
                </button>
            </form>

        </div>
        <!-- <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Your password must:</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li data-condition="minChars">be at least 8 characters</li>
                <li data-condition="anyLetter">contain at least one letter (a-z)</li>
                <li data-condition="anyNumber">contain at least one number (0-9)</li>
                <li data-condition="mustMatch">match with the confirmed password</li>
            </ul>
        </div> -->
    </div>
</main>
