@model SFA.DAS.LoginService.Web.Controllers.InvitationsWeb.ViewModels.CreatePasswordViewModel

@{
    ViewBag.Title = "title";
}

<h2>Create Password</h2>


<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Post">
    <input type="hidden" asp-for="InvitationId" />
    <label asp-for="Password">Password</label>
    <input type="text" asp-for="Password"/>
    <label asp-for="ConfirmPassword">ConfirmPassword</label>
    <input type="text" asp-for="ConfirmPassword"/>
    
    <span asp-validation-for="Password" class="text-danger"></span>
    
    <button type="submit">Submit</button>
</form>

<div>
    <h3>Current aspnet core Identity password defaults:</h3>
    <ul>
        <li>Passwords must be at least 6 characters</li>
        <li>Passwords must have at least one lowercase ('a'-'z')</li>
        <li>Passwords must have at least one uppercase ('A'-'Z')</li>
        <li>Passwords must have at least one digit ('0'-'9')</li>
        <li>Passwords must have at least one non alphanumeric character</li>
    </ul>
</div>
