@model SFA.DAS.LoginService.Web.Controllers.InvitationsWeb.ViewModels.CreatePasswordViewModel

@{
    ViewBag.Title = "title";
}

<h2>Create Password</h2>


<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Post">
    <input type="hidden" asp-for="InvitationId" />
    <label asp-for="Password">Password</label>
    <input type="text" asp-for="Password"/>
    <label asp-for="ConfirmPassword">ConfirmPassword</label>
    <input type="text" asp-for="ConfirmPassword"/>
    
    <span asp-validation-for="Password" class="text-danger"></span>
    
    <button type="submit">Submit</button>
</form>
