@model SFA.DAS.LoginService.Application.BuildLogoutViewModel.LogoutResponse

@{
    ViewBag.Title = "Signed out";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">You have successfully signed out</h1>

            @if (Model.PostLogoutRedirectUri != null)
            {
                <p class="govuk-body">
                    You can go <a class="govuk-link" href="https://www.gov.uk"><span>back to GOV.UK</span></a> or <a class="govuk-link" href="@Model.PostLogoutRedirectUri"><span>sign back in</span>.</a>
                </p>
            }
            else
            {
                <p class="govuk-body">
                    You can go <a class="govuk-link" href="https://www.gov.uk"><span>back to GOV.UK</span>.</a>
                </p>
            }
        </div>
    </div>
</main>
